---
import { GITHUB_USERNAME } from "$lib/data";
import { getRepoData } from "$lib/octokit";
import Page from "$page";
import type { GetStaticPaths } from "astro";
import { getCollection } from "astro:content";
import Languages, {
  type Language,
} from "$components/projects/Languages.svelte";
import { render } from "astro:content";
import Commit, {
  type Props as CommitProps,
} from "$components/projects/Commit.astro";

export const getStaticPaths = (async () => {
  const projects = await getCollection("projects");
  return projects.map((project) => ({
    params: { id: project.id },
    props: project,
  }));
}) satisfies GetStaticPaths;

const post = Astro.props;
const {
  id,
  data: {
    title,
    "crates.io": crate,
    npm,
    repoAuthor = GITHUB_USERNAME,
    repoName = id,
  },
} = post;

interface RepoData {
  stargazerCount: number;
  languages: {
    edges: Language[];
  };
  defaultBranchRef: {
    target: {
      history: {
        edges: {
          node: CommitProps;
        }[];
      };
    };
  };
}

const {
  stargazerCount: stars,
  languages: { edges: languages },
  defaultBranchRef: {
    target: {
      history: { edges: commits },
    },
  },
} = await getRepoData<RepoData>(
  { owner: repoAuthor, name: repoName },
  `
stargazerCount
languages(first: 3) {
  edges {
    size
    node {
      name
      color
    }
  }
}
defaultBranchRef {
  target {
    ... on Commit {
      history(first: 5) {
        edges {
          node {
            url
            oid
            messageHeadline
            committedDate
            author {
              name
              avatarUrl
            }
          }
        }
      }
    }
  }
}
    `,
  {
    stargazerCount: 0,
    languages: {
      edges: [
        { size: 1, node: { name: "Rust", color: "#dea584" } },
        { size: 1, node: { name: "TypeScript", color: "#3178c6" } },
      ],
    },
    defaultBranchRef: {
      target: {
        history: { edges: [] },
      },
    },
  },
);

const { Content } = await render(post);
---

<Page>
  <header>
    <div class="flex justify-between">
      <h1>{title}</h1>

      <div class="flex items-center gap-4 text-2xl">
        <a
          href={`https://github.com/${repoAuthor}/${repoName}`}
          class="iconify mdi--github hover:text-black dark:hover:text-white"
        ></a>
        {
          crate && (
            <a
              href={`https://crates.io/crates/${crate}`}
              class="iconify catppuccin--cargo hover:text-peach"
            />
          )
        }
        {
          npm && (
            <a
              href={`https://www.npmjs.com/package/${npm}`}
              class="iconify simple-icons--npm hover:text-red"
            />
          )
        }
      </div>
    </div>
    <Languages client:load {languages}>
      <div class="hover:text-yellow flex items-center gap-2">
        <span class="iconify mdi--star"></span>
        {stars} star{stars !== 1 ? "s" : ""}
      </div>
    </Languages>

    <div class="flex justify-between font-mono text-base">
      <div class="hover:text-yellow flex items-center gap-1"></div>
    </div>
  </header>

  <article>
    <section>
      <h2>About</h2>
      <Content />
    </section>

    <hr />

    <section>
      <h2 class="mb-4">Recent Commits</h2>
      <div class="flex flex-col gap-4">
        {commits.map(({ node }) => <Commit {...node} />)}
      </div>
    </section>
  </article>

  <style>
    @reference "$styles/global.css";

    ul.icons > li > *,
    ul.icons > * > li > * {
      @apply text-base;
    }
  </style>
</Page>
