---
import "$styles/global.css";

import Footer from "$components/footer";
import { THEME_KEY, URLS } from "$lib/stores/theme";
import Navbar from "$components/nav";

interface Props {
  title?: string | string[];
  titleClass?: string;
}

const { title, titleClass } = Astro.props;
const segments = Array.isArray(title)
  ? title
  : Astro.url
    ? Astro.url.pathname.split("/").filter(Boolean)
    : [];

// if a title is provided, replace the last segment with it
if (typeof title === "string") {
  segments.pop();
  segments.push(title);
}

const slug = segments.join(" / ");
let fullTitle = "newt";
if (slug) fullTitle += ` / ${slug}`;
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/x-icon" href="/favicon.ico" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>{fullTitle}</title>

    <!-- set the theme at the first possible instance -->
    <script is:inline define:vars={{ THEME_KEY, URLS }}>
      let theme = localStorage.getItem(THEME_KEY);

      // set default theme if necessary
      if (!theme) {
        const forcedColours = window.matchMedia(
          "(forced-colors: active)",
        ).matches;
        const highContrast = window.matchMedia(
          "(prefers-contrast: more)",
        ).matches;
        const prefersLight = window.matchMedia(
          "(prefers-color-scheme: light)",
        ).matches;

        theme =
          prefersLight || forcedColours || highContrast ? "latte" : "mocha";
        localStorage.setItem(THEME_KEY, theme);
      }

      // add link to theme stylesheet
      const link = document.createElement("link");
      link.id = "theme";
      link.rel = "stylesheet";
      link.href = URLS[theme];
      document.head.appendChild(link);

      // set theme to be used
      document.documentElement.classList.add(theme);
    </script>
  </head>
  <body>
    <Navbar {segments} {titleClass} />
    <main class="container pt-0!">
      <slot />
    </main>
    <Footer />
  </body>
</html>

<style>
  nav a {
    @apply hover:text-inherit!;
  }
</style>
