---
import "$styles/global.css";

import Nav from "$components/nav/Nav.astro";
import Footer from "$components/footer/Footer.astro";
import { ClientRouter } from "astro:transitions";

interface Props {
  title?: string;
}

const segments = Astro.url ? Astro.url.pathname.split("/").filter(Boolean) : [];
const slug = segments.join(" / ");

const { title } = Astro.props;
let fullTitle = "newt";
if (slug) fullTitle += ` / ${slug}`;
---

<html lang="en" transition:name="root" transition:animate="none">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>{fullTitle}</title>

    <ClientRouter />
  </head>
  <body>
    <div class="container">
      <nav>
        <Nav {title} slug={segments} />
      </nav>
      <main class="has-prose" transition:animate="fade">
        <slot />
      </main>
    </div>
    <footer>
      <Footer />
    </footer>
  </body>
</html>

<style>
  @reference "$styles/global.css";

  .container {
    @apply xs:max-w-md mx-auto flex max-w-xs flex-col gap-8 sm:max-w-xl md:max-w-3xl lg:max-w-4xl xl:max-w-7xl;
  }

  main {
    @apply mb-8 max-w-4/5;
  }

  nav {
    @apply mt-8 flex items-center justify-between select-none;
  }

  footer {
    @apply bg-primary-foreground mt-auto py-4 select-none;
  }
</style>
