---
import Theme from "$components/nav/Theme.svelte";
import Cat from "$components/nav/Cat.svelte";
import Accent from "$components/helper/Accent.svelte";

interface Props {
  segments: string[];
  titleClass?: string;
}

const PAGES = {
  projects: "/projects",
  writing: "/writing",
  friends: "/friends",
};

const { segments, titleClass } = Astro.props;
const { origin } = Astro.url;

function getHref(index: number) {
  if (segments.length === 0) return `${origin}/`;
  const path = segments.slice(0, index + 1).join("/");
  return `${origin}/${path}`;
}
---

<nav class="prose container flex items-center justify-between select-none">
  <div class="flex items-center gap-8">
    <Cat client:load />

    <div class="prose-headings:my-0 grow">
      <!-- slug -->
      <!-- prettier-ignore -->
      <h2 class="font-mono!">
        <a href="/" class="no-underline"><Accent client:load class="font-bold">newt</Accent></a>{segments.map((segment, i) => (
          <><span class="text-muted-foreground mx-2">/</span>{i === segments.length - 1 ? (
              <span class={titleClass ?? "text-muted-foreground"}>{segment.replace("-", " ")}</span>
            ) : (
              <a href={getHref(i)} class="font-medium text-foreground">{segment.replace("-", " ")}</a>
            )}
          </>
        ))}
      </h2>
      <!-- links -->
      <ul class="not-prose flex justify-between gap-4 text-lg">
        {
          Object.entries(PAGES).map(([page, href]) => (
            <li>
              <a
                {href}
                class="hover:text-accent text-foreground transition-colors duration-300"
              >
                {page}
              </a>
            </li>
          ))
        }
      </ul>
    </div>
  </div>

  <Theme client:load />
</nav>
